# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
<title>CHESTER Y HAMILTON</title>
</head>
<body>

<h1>chester es un perrito</h1>
<p>hamilton es un POLLISIMO .</p>

</body>
</html>